.layoutWrapper {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    
    width: 100%;
    background-color: #f8fafc;
    
}

.contentArea {
    flex: 1;
    
    display: flex;
    flex-direction: column;
    align-items: center;
    
    justify-content: center;
    
    width: 100%;
    padding: 2rem 1rem;
}